/* here all the css codes add to index.htm*/
#hair{
  margin-bottom: 1%;
  color: black;
  background-color: #f5f5dc;
  border-bottom: 1px black solid;

}
#head{
    margin-top: 5%;
    text-align: center;
    color: black;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    padding: 2%;

}
#catg{
    float: left;
    margin-top: 5%;
    width: 16%;
    height:1000px;
    border-right:1px black solid;
    padding: 2%;
}
.carte1{
    border:1px black solid;
    border-radius: 12px;
    width: 200px;
    height: 225px;
    float: left;
    margin-left: 6px;
    margin-right: 6px;
    padding: 2%;
    margin-top: 2%;
}
.cc{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 7PX;
}
.carte{

    width: 270px;
    height: 250px;
    margin-left:6px ;
    margin-right: 6px;
    margin-bottom: 7px;
    

}
#bod{
    float: left;
    text-align: center;
    margin-left: 3%;
    margin-top: 5%;
}
.imgsize{
    width: 100%;;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.imgshadow:hover{
    box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 8px;
}


#foot{
    clear: left;
    margin-top: 5%;
    text-align: center;
    border-top:1px rgb(0, 0, 0) solid;
    height: 200px;
    background-color: rgb(61, 61, 61);
}